div .zerg {
  background-image: url("../img/zerg.png");
  z-index: 10;
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: cover;
  transition-duration: 1s;
  transition-property: rotate, top, left; }

div .down {
  transform: rotate(0deg); }

div .up {
  transform: rotate(180deg); }

div .right {
  transform: rotate(270deg); }

div .left {
  transform: rotate(90deg); }
